aiogram==3.18.0
aiohttp==3.11.13
aiohttp_session==2.12.1
aiofiles==24.1.0
async-timeout==5.0.1
asyncpg==0.30.0
attrs==25.1.0
certifi==2025.1.31
frozenlist==1.5.0
idna==3.10
magic-filter==1.0.12
multidict==6.1.0
propcache==0.3.0
pydantic==2.10.6
pydantic_core==2.27.2
typing_extensions==4.12.2
yarl==1.18.3
yookassa==3.5.0
asgiref==3.8.1
sqlparse==0.5.3
psycopg2-binary==2.9.10 
python-decouple==3.8
aiohttp-jinja2==1.6
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.1.0
